# =========================
# Maven
# =========================
/target/
!.mvn/wrapper/maven-wrapper.jar

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr
out/

# =========================
# Logs
# =========================
logs/
*.log
logs.txt

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / config
# =========================
.env
application-local.properties

# =========================
# Java
# =========================
*.class

# =========================
# Node (por si luego agregas frontend)
# =========================
node_modules/

# =========================
# Misc
# =========================
*.swp
*.swo